.agenda {
	width: 100%;
	padding: 0em;
	display: flex;
	flex-direction: column;
	gap: 2em;
}
.agenda-container {
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 2em;
	margin-top: 7em;
}
.agenda-container > h1 {
	font-size: 1.3em;
}
.add-task-container {
	position: relative;
	box-shadow: 1px 2px 9px 3px rgba(164, 173, 201, 0.836);
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	border-radius: .5em;
}
.div {
	width: 100%;
	display: flex;
	justify-content: end;
}
.task-list {
	display: grid;
	gap: .5em;
}
.texttt{
	font-size: 1.3em;
	color: blueviolet;
	border-bottom: 3px solid blueviolet;
	width: 100%;
	max-width: 7em;
	text-align: center;
	border-radius: .5em;
}
.task-item {
	display: flex;align-items: center;
	gap: 1em;
}
.task-item > div{
	display: grid;
}
.Horario {
	font-size: .8em;
	color: blueviolet;
}
hr {
	width: 100%;
	background-color: blueviolet;
}
.ll{
	display: grid;
	justify-content: start;
	padding-bottom: 2em;
}
.ll > figure {
	width: 100%;
   
}
.add-task-btn {
	border: none;
	padding: .5em;
	background-color: blueviolet;
	color: white;
	border-radius: .2em;
	cursor: pointer;
}
.bx-trash {
	background-color: red;
	padding: .2em;
	border-radius: 50%;
	color: white;
}

@media (min-width: 550px) {
	.add-task-container {
		background-color: rgba(215, 215, 250, 0);
		padding: 1em;
		display: flex;
		flex-direction: column;
		gap: 1em;
		border-radius: .5em;
		width: 100%;
		max-width: 1000px;
		margin: auto;
		box-shadow: 1px 2px 9px 3px rgba(164, 173, 201, 0.836);
	}
	.texttt{
		font-size: 1.3em;
		color: blueviolet;
		border-bottom: 3px solid blueviolet;
		width: 100%;
		max-width: 7em;
		text-align: center;
		border-radius: .5em;
		margin: auto;
		margin-bottom: .2;
	}
	.ll{
		display: flex;
		justify-content: space-around;
		padding-bottom: 2em;
	}
	.ll > figure {
		width: 100%;
		max-width: 20em;
		margin: 0;
	}
	.bx-trash {
		background-color: rgba(255, 0, 0, 0.705);
		padding: .4em;
		border-radius: 50%;
		color: white;
		font-size: 1.2em;
		margin-left: 3em;
		cursor: pointer;
	}
}