.Header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: blueviolet;
	width: 100%;
	padding: .7em;
	text-align: center;
	color: white;
	position: fixed;
	height: 5em;
	z-index: 1000;
}
.cerrar {
	cursor: pointer;
}
.cerrar:hover {
	border-bottom: 2px solid white;
	border-radius: 1em;
}
.name {
	border-bottom: 2px solid white;
	border-radius: .3em;
	transform: scale(0);
	height: 0;
	width: 0;
}
.Header > nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .2em;
}
.Header > nav > i {
	font-size: 1.5em;
}

@media (min-width: 700px) {
	.Header {
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: blueviolet;
		width: 100%;
		padding: 1em;
		text-align: center;
		color: white;
	}
	.name {
		border-bottom: 2px solid white;
		border-radius: .3em;
		font-size: 1.3em;	transform: scale(1);
		height: 100%;
		width: 10em;
	
	}
	.name2 {
		border-bottom: 2px solid blueviolet;
		border-radius: .3em .0em .3em .0em;
		color: blueviolet;
		width: 100%;
		max-width: 12em;
		display: none;
	}
	.Header > nav {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: .2em;
	}
	.Header > nav > i {
		font-size: 1.5em;
	}
}