.Register {
	width: 100%;
	display: flex;
    flex-direction: column;
	padding: 1.5em;
	gap: 1em;
	margin-top: 2em;

}
.Register_div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 3em;
}
.Register_div > figure {
	display: none;
}
.Register_form {
	background-color: rgba(215, 215, 250, 0.74);
	padding: 1.1em;
	display: flex;
	flex-direction: column;
	border-radius: .5em;
	width: 100%;
	max-width: 400px;
	text-align: start;
}
.Register > h1 {
	font-size: 2em;
	color: rgba(43, 92, 226, 0.719);
	border-bottom: 3px solid rgba(43, 46, 226, 0.568);
	width: 100%;
	max-width: 11em;
	border-radius: 9px;
}
.Register_form > div {
	display: flex;
	flex-direction: column;
	margin-top: 1em;
}
.Register_form > div >  input {
	padding: 7px;
	margin-top: 2px;
	border: none;
	border-radius: 5px;
}
.Register_form > button {
	width: 100%;
	margin-top: 2em;
	padding: .5em;
	font-size: 1em;
	border: none;
	background-color: blueviolet;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.Register_form > h2 {
	color: blueviolet;
	font-size: 1em;
	margin: .5em;
	cursor: pointer;
}

@media (min-width: 800px) {
	.Register {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 0em;
		gap: 1em;
		margin-top: 2em;
		text-align: center;
	}
	.Register_form {
		background-color: rgba(215, 215, 250, 0.842);
		padding: 1.1em;
		display: flex;
		flex-direction: column;
		border-radius: .5em;
		width: 100%;
		max-width: 400px;
	}
	.Register > h1 {
		font-size: 2em;
		color: rgba(43, 92, 226, 0.719);
		border-bottom: 3px solid rgba(43, 46, 226, 0.568);
		border-radius: .2em;
		width: 100%;
		max-width: 11em;
		margin: auto;
	}
	.Register > p {
		font-size: 1.2em;
		width: 100%;
		max-width: 50em;
	}
	.Register_div {
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: space-evenly;
		margin-top: 2em;
		background-color: rgba(42, 100, 207, 0.336);
		padding: 2em;
		width: 100%;
	}
	.Register_div > figure {
		display: block;
		width: 100%;
		max-width: 22em;
	}
}